.main_posts {
    padding: 20px;
}

.blog_posts {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid #354f52;
    padding: 10px;
    border-radius: 20px;
}

.imgs_blog {
    width: 400px;
}

.header_blog {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.blog_date {
    color: #cad2c5;
    text-align: justify;
    font-size: 13px;
}