body {
    background-color: #EEEDE7;
    background-image: url("../imgs/wlp4.png");
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
}

#main_content {
  background-color: #2f3e46;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #2f3e46;
}

.textos {
  padding: 20px;
}

.gf {
  width: 400px;
}

.main_title {
  color: #84a98c;
  font-size: 40px;
}

.title_two_main {
  color: #cad2c5;
  font-size: 30px;
}

.main_texts {
  color: #cad2c5;
  text-align: justify;
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link_buttons {
  background-color: #52796f;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 0;
}


/*
  #2f3e46 -> DARK GREEN
  #354f52 -> GREY GREEN
  #52796f -> GREEN
  #84a98c -> WHITE GREEN
  #cad2c5 -> WHITE
*/
